
*,
::before,
::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Nunito", sans-serif;
    font-size: 16px ;
    font-weight: 400 ;
    color: white;
}
ul{
    list-style: none;
}

a{
    text-decoration: none;
}
h1,h2,h3,h4,h5{
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;

}

.header{
    background-image:linear-gradient(to right, #000, #00000029), url('https://cdn.prod.website-files.com/6226481a3123521a0f08ac50/622681368f85801adf945ff9_home-hero-bg-image-autocar-webflow-ecommerce-template.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 100%, 67% 93%, 0 93%);


    &__wrapper{
        max-width: 1320px;
        margin: auto;
    }

    &__nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 3rem 0;
    }

    &__logo{
        letter-spacing: .02em;
        text-transform: uppercase;
        padding: 0;
        font-size: 40px;
        font-style: italic;
        font-weight: 900;
        line-height: 1.125em; 
    }

    &__menu{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    &__link{
        font-family: "Lato", sans-serif;
        font-weight: 400;
        font-style: normal;
        letter-spacing: .02em;
        text-transform: uppercase;
        padding: 0;
        font-size: 1.2rem;
        font-style: italic;
        font-weight: 900;
        line-height: 1.125em;
    }

    &__info{
        padding: 10rem 0 25rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 2rem;
    }

    &__suptitle{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
    }

    &__suptitle hr{
        width: 10rem;
    }

    &__suptitle-name{
        letter-spacing: .06em;
        font-size: 2rem;
        text-transform: uppercase;
        font-style: italic;
        font-weight: 900;
        line-height: 1.111em;
    }

    &__title{
        letter-spacing: .04em;
        text-transform: uppercase;
        font-size: 6rem;
        font-style: italic;
        font-weight: 900;
        line-height: 1.125em;
    }

    &__subtitle{
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.667em;
        max-width: 45rem;
    }

    &__button{
        border: 2.5px solid white;
        background-color: transparent;
        text-align: center;
        letter-spacing: .06em;
        text-transform: uppercase;
        transform-style: preserve-3d;
        justify-content: center;
        padding: 2rem 4rem;
        font-style: italic;
        font-weight: 900;
        line-height: 1.111em;
        text-decoration: none;
        cursor: pointer;
        transition: border-color .3s, background-color .3s, transform .3s, color .3s;
    }

    &__button:hover{
        transform: translateY(-.7rem);
    }
}

.services{

    background-color: white;

    &__wrapper{
        max-width: 1320px;
        margin: auto;
        position: relative;
    }

    &__info{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 7rem;
    }
    
    &__info-block{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: .5rem;
    }

    &__info-number{
        letter-spacing: .04em;
        text-transform: uppercase;
        font-size: 5rem;
        color: #000;
        font-style: italic;
        font-weight: 900;
        line-height: 1.125em;
    }

    &__info-number span{
        letter-spacing: .04em;
        text-transform: uppercase;
        font-size: 5rem;
        font-style: italic;
        font-weight: 900;
        line-height: 1.125em;
        color: red;
    }

    &__info-comment{
        letter-spacing: .02em;
        text-transform: uppercase;
        font-size: 22px;
        font-weight: 900;
        line-height: 1.273em;
        color: #000;
    }

    &__content{
        padding-top: 10rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        position: relative;
        padding-bottom: 3rem;

    }

    &__suptitle hr{
        border-color: red;
        
    }

    &__suptitle-name{
        color: red;
    }

    &__title{
        letter-spacing: .05em;
        text-transform: uppercase;
        font-size: 54px;
        font-style: italic;
        font-weight: 900;
        line-height: 1.204em;
        color: #000;
        max-width: 48rem;
    }

    &__subtitle{
        position: absolute;
        right: -25%;
        letter-spacing: .04em;
        text-transform: uppercase;
        font-size: 7rem;
        font-style: italic;
        font-weight: 900;
        line-height: 1.125em;
        color: white;
        background-color: white;
        text-shadow: -1px -1px 0 #959494, 1px -1px 0 #959494, -1px 1px 0 #959494, 1px 1px 0 #959494;
    }

    &__slader{
        overflow-x: hidden;
        position: absolute;
        display: flex;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        padding-bottom: 3rem;
    }

    &__slader-slade{
        width: 400px;
        height: 500px;
        background-image: url('https://cdn.prod.website-files.com/6226481a3123521a0f08ac50/62279b9e00a1e76042ae831d_wheels-service-image-autocar-webflow-ecommerce-template.jpg');
        padding: 3rem;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 1rem;
    }

    &__slader-slade-title{
        letter-spacing: .05em;
        text-transform: uppercase;
        font-size: 1.5rem;
        font-style: italic;
        font-weight: 900;
        line-height: 1.429em;
    }

    &__slader-slade-text{
        letter-spacing: .05em;
        text-transform: uppercase;
        font-size: 1rem;
        font-style: italic;
        font-weight: 600;
        line-height: 1.429em;
    }

    &__button{
        margin-top: 35rem;
        margin-bottom: 10rem;
            border: 2.5px solid red;
            background-color: red;
            text-align: center;
            letter-spacing: .06em;
            text-transform: uppercase;
            transform-style: preserve-3d;
            justify-content: center;
            padding: 2rem 8rem;
            font-style: italic;
            font-weight: 900;
            line-height: 1.111em;
            text-decoration: none;
            cursor: pointer;
            transition: border-color .3s, background-color .3s, transform .3s, color .3s;
        }
    
        &__button:hover{
            transform: translateY(-.7rem);
        }
}


.whyus{
    background-color: black;
    padding: 15rem 0;


    &__wrapper{
        max-width: 1320px;
        margin: auto;
        position: relative;
    }

    &__content{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5rem;
    }

    &__info{
        position: relative;
        height: -webkit-fill-available;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        gap: 1rem;
    }

    &__background{
        position: absolute;
        opacity: .3;
        top: -17%;
        right: -10%;
        letter-spacing: .04em;
        text-transform: uppercase;
        font-size: 9rem;
        font-style: italic;
        font-weight: 900;
        line-height: 1.125em;
        color: black;
        text-shadow: -1px -1px 0 #959494, 1px -1px 0 #959494, -1px 1px 0 #959494, 1px 1px 0 #959494;
    }

    &__container{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    &__container hr{
        width: 10rem;
    }

    &__infocontainer{
        display: flex;
        gap: 1rem;
    }

    &__suptitle{
        letter-spacing: .05em;
        text-transform: uppercase;
        font-size: 1.7rem;
        font-style: italic;
        font-weight: 900;
        line-height: 1.204em;
    }

    &__infocontainer-icon{
        width: 4rem;
    }

    &__title{
        letter-spacing: .05em;
        text-transform: uppercase;
        font-size: 3.3rem;
        font-style: italic;
        font-weight: 900;
        line-height: 1.204em;
    }

    &__subtitle{
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.667em;
        max-width: 45rem;
    }

    &__img{
        max-width: 40rem;
    }

    &__infocontainer-title{
        letter-spacing: .05em;
        text-transform: uppercase;
        font-size: 1.5rem;
        font-style: italic;
        font-weight: 900;
        line-height: 1.204em;
    }

    &__infocontainer-text{
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.667em;
        max-width: 45rem;
    }

    &__button{
        border: 2.5px solid red;
        background-color: red;
        text-align: center;
        letter-spacing: .06em;
        text-transform: uppercase;
        transform-style: preserve-3d;
        justify-content: center;
        padding: 2rem 4rem;
        font-style: italic;
        font-weight: 900;
        line-height: 1.111em;
        text-decoration: none;
        cursor: pointer;
        transition: border-color .3s, background-color .3s, transform .3s, color .3s;
    }

    &__button:hover{
        transform: translateY(-.7rem);
    }

}

.about{
    background-color: white;

    &__info{
        justify-content: center;
    }

    &__background{
        right: 65%;
        top: -5%;
        color: white;
    }

    &__container hr{
        border-color: red;
    }

    &__suptitle{
        color: red;
    }

    &__title{
        color: #000;
    }

    &__subtitle{
        color: #959494;
    }

    &__button{
        background-color: transparent;
        border-color: black;
        color: #000;
    }
}

.visitus{
    padding: 10rem 0;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 20% 100%, 18% 88%, 0 88%);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(to right, #00000029, #000000c2 56%, #000000db), url("https://cdn.prod.website-files.com/6226481a3123521a0f08ac50/6227dff91457fc6fe16c1d76_cta-bg-image-autocar-webflow-ecommerce-template.jpg");

    &__title{
        color: white;
    }

    &__button{
        background-color: red;
        color: white;
    }






}


.locations{
    height: 100vh;
}