*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: white;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.header {
  background-image: linear-gradient(to right, #000, rgba(0, 0, 0, 0.1607843137)), url("https://cdn.prod.website-files.com/6226481a3123521a0f08ac50/622681368f85801adf945ff9_home-hero-bg-image-autocar-webflow-ecommerce-template.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 100%, 67% 93%, 0 93%);
}
.header__wrapper {
  max-width: 1320px;
  margin: auto;
  padding: 0 1.5rem;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0;
}
.header__logo {
  letter-spacing: 0.02em;
  text-transform: uppercase;
  padding: 0;
  font-size: clamp(1.3rem, 2.5vw, 2.3rem);
  font-style: italic;
  font-weight: 900;
  line-height: 1.125em;
}
.header__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  transition: all 3s;
}
.header__link {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  padding: 0;
  font-size: clamp(1rem, 1.2vw, 1.2rem);
  font-style: italic;
  font-weight: 900;
  line-height: 1.125em;
  transition: all 0.3s;
}
.header__link:hover {
  color: red;
  transition: all 0.3s;
}
.header__hamburger {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  order: 1;
}
.header__info {
  padding: 10rem 0 25rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}
.header__suptitle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.header__suptitle hr {
  width: 10rem;
  animation: hey 3s infinite;
}
.header__suptitle-name {
  letter-spacing: 0.06em;
  font-size: clamp(1rem, 2vw, 2rem);
  text-transform: uppercase;
  font-style: italic;
  font-weight: 900;
  line-height: 1.111em;
  animation: hey 5s infinite;
}
@keyframes hey {
  from {
    color: white;
    border-color: white;
  }
  50% {
    color: red;
    border-color: red;
  }
  to {
    color: white;
    border-color: white;
  }
}
.header__title {
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-size: clamp(2rem, 6vw, 6rem);
  font-style: italic;
  font-weight: 900;
  line-height: 1.125em;
}
.header__subtitle {
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  font-weight: 400;
  line-height: 1.667em;
  max-width: 45rem;
}
.header__button {
  border: 2.5px solid white;
  background-color: transparent;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  transform-style: preserve-3d;
  justify-content: center;
  padding: 2rem 4rem;
  font-style: italic;
  font-weight: 900;
  line-height: 1.111em;
  text-decoration: none;
  cursor: pointer;
  transition: border-color 0.3s, background-color 0.3s, transform 0.3s, color 0.3s;
}
.header__button:hover {
  transform: translateY(-0.7rem);
}

.services {
  overflow-x: hidden;
  background-color: white;
}
.services__wrapper {
  max-width: 1320px;
  margin: auto;
  position: relative;
  padding: 0 1.5rem;
}
.services__info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 7rem;
}
.services__info-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
}
.services__info-number {
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-size: 5rem;
  color: #000;
  font-style: italic;
  font-weight: 900;
  line-height: 1.125em;
}
.services__info-number span {
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-size: clamp(2rem, 5vw, 5rem);
  font-style: italic;
  font-weight: 900;
  line-height: 1.125em;
  color: red;
}
.services__info-comment {
  letter-spacing: 0.02em;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 900;
  line-height: 1.273em;
  color: #000;
}
.services__content {
  padding-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  position: relative;
  padding-bottom: 3rem;
}
.services__suptitle hr {
  border-color: red;
}
.services__suptitle-name {
  color: red;
  z-index: 1;
}
.services__title {
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: clamp(2rem, 3vw, 4rem);
  font-style: italic;
  font-weight: 900;
  line-height: 1.204em;
  color: #000;
  z-index: 1;
  max-width: 48rem;
}
.services__subtitle {
  position: absolute;
  right: -25%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-size: clamp(2rem, 7vw, 7rem);
  font-style: italic;
  font-weight: 900;
  line-height: 1.125em;
  color: white;
  background-color: white;
  text-shadow: -1px -1px 0 #959494, 1px -1px 0 #959494, -1px 1px 0 #959494, 1px 1px 0 #959494;
}
.services__slader-arrows {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  padding-bottom: 2rem;
}
.services__slader-arrows-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.services__slader {
  overflow-x: hidden;
  position: absolute;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
  transition: all 2s;
}
.services__slader-slade {
  width: 400px;
  height: 500px;
  background-image: url("https://cdn.prod.website-files.com/6226481a3123521a0f08ac50/62279b9e00a1e76042ae831d_wheels-service-image-autocar-webflow-ecommerce-template.jpg");
  padding: 3rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
}
.services__slader-slade-title {
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 900;
  line-height: 1.429em;
}
.services__slader-slade-text {
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 1rem;
  font-style: italic;
  font-weight: 600;
  line-height: 1.429em;
}
.services__button {
  margin-top: 35rem;
  margin-bottom: 10rem;
  border: 2.5px solid red;
  background-color: red;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  transform-style: preserve-3d;
  justify-content: center;
  padding: 2rem 8rem;
  font-style: italic;
  font-weight: 900;
  line-height: 1.111em;
  text-decoration: none;
  cursor: pointer;
  transition: border-color 0.3s, background-color 0.3s, transform 0.3s, color 0.3s;
}
.services__button:hover {
  transform: translateY(-0.7rem);
}

.whyus {
  background-color: black;
  padding: 15rem 0;
}
.whyus__wrapper {
  max-width: 1320px;
  margin: auto;
  position: relative;
  padding: 0 1.5rem;
}
.whyus__content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.whyus__info {
  position: relative;
  height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
}
.whyus__background {
  position: absolute;
  opacity: 0.3;
  top: -17%;
  right: -10%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-size: clamp(3rem, 9vw, 9rem);
  font-style: italic;
  font-weight: 900;
  line-height: 1.125em;
  color: black;
  text-shadow: -1px -1px 0 #959494, 1px -1px 0 #959494, -1px 1px 0 #959494, 1px 1px 0 #959494;
}
.whyus__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.whyus__container hr {
  width: 10rem;
}
.whyus__infocontainer {
  display: flex;
  gap: 1rem;
}
.whyus__suptitle {
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: clamp(1.2rem, 1.7vw, 1.7rem);
  font-style: italic;
  font-weight: 900;
  line-height: 1.204em;
}
.whyus__infocontainer-icon {
  width: 4rem;
}
.whyus__title {
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: clamp(2rem, 3.3vw, 3.3rem);
  font-style: italic;
  font-weight: 900;
  line-height: 1.204em;
}
.whyus__subtitle {
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  font-weight: 400;
  line-height: 1.667em;
  max-width: 45rem;
}
.whyus__img {
  width: -webkit-fill-available;
  max-width: clamp(20rem, 40vw, 40rem);
  height: clamp(20rem, 40vw, 40rem);
  object-fit: cover;
}
.whyus__infocontainer-title {
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 900;
  line-height: 1.204em;
}
.whyus__infocontainer-text {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.667em;
  max-width: 45rem;
}
.whyus__button {
  border: 2.5px solid red;
  background-color: red;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  transform-style: preserve-3d;
  justify-content: center;
  padding: 2rem 4rem;
  font-style: italic;
  font-weight: 900;
  line-height: 1.111em;
  text-decoration: none;
  cursor: pointer;
  transition: border-color 0.3s, background-color 0.3s, transform 0.3s, color 0.3s;
}
.whyus__button:hover {
  transform: translateY(-0.7rem);
}

.about {
  background-color: white;
}
.about__info {
  justify-content: center;
}
.about__background {
  right: 65%;
  top: -5%;
  color: white;
}
.about__container hr {
  border-color: red;
}
.about__suptitle {
  color: red;
}
.about__title {
  color: #000;
}
.about__subtitle {
  color: #959494;
}
.about__button {
  background-color: transparent;
  border-color: black;
  color: #000;
}

.visitus {
  padding: 10rem 0;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 20% 100%, 18% 88%, 0 88%);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1607843137), rgba(0, 0, 0, 0.7607843137) 56%, rgba(0, 0, 0, 0.8588235294)), url("https://cdn.prod.website-files.com/6226481a3123521a0f08ac50/6227dff91457fc6fe16c1d76_cta-bg-image-autocar-webflow-ecommerce-template.jpg");
}
.visitus__title {
  color: white;
}
.visitus__button {
  background-color: red;
  color: white;
  border: none;
}

.locations {
  padding: 10rem 0;
}
.locations__content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.locations__background {
  letter-spacing: 0.04em;
  position: absolute;
  top: -12%;
  left: 50%;
  text-transform: uppercase;
  font-size: clamp(2rem, 9vw, 9rem);
  font-style: italic;
  font-weight: 900;
  line-height: 1.125em;
  color: white;
  text-shadow: -1px -1px 0 #959494, 1px -1px 0 #959494, -1px 1px 0 #959494, 1px 1px 0 #959494;
}
.locations__suptitle {
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: clamp(1.2rem, 1.7vw, 1.7rem);
  font-style: italic;
  font-weight: 900;
  line-height: 1.204em;
  color: red;
  z-index: 1;
}
.locations__title {
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: clamp(2rem, 3.3vw, 3.3rem);
  font-style: italic;
  font-weight: 900;
  line-height: 1.204em;
  color: #000;
}
.locations__subtitle {
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  font-weight: 400;
  line-height: 1.667em;
  max-width: 45rem;
  color: #959494;
}
.locations__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  width: 100%;
  height: 600px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3rem;
  gap: 2rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.7803921569) 50%, #000), url("https://cdn.prod.website-files.com/6226481a3123521a0f08ac50/6228c393a1e6c0761091a38e_santa-monica-location-image-autocar-webflow-ecommerce-template.jpg");
}
.locations__container-title {
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: clamp(1.2rem, 2vw, 2rem);
  font-style: italic;
  font-weight: 900;
  line-height: 1.429em;
}
.locations__container-subtitle {
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: clamp(0.8rem, 1.2vw, 1.22rem);
  font-style: italic;
  font-weight: 900;
  line-height: 1.429em;
  color: #959494;
}
.locations__container-address {
  width: inherit;
  display: flex;
  justify-content: space-around;
}
.locations__container-address a {
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  font-weight: 900;
  line-height: 1.429em;
  transition: all 0.3s;
}
.locations__container-address a:hover {
  color: red;
  transition: all 0.3s;
  transform: translateY(-0.3rem);
}

.visitus2 {
  clip-path: polygon(0 0, 100% 0, 100% 85%, 85% 85%, 80% 100%, 0 100%);
  background-image: linear-gradient(to right, #000, rgba(0, 0, 0, 0.1607843137)), url("https://cdn.prod.website-files.com/6226481a3123521a0f08ac50/6228e37a05254c53475c1ae2_cta-bg-image-2-autocar-webflow-ecommerce-template.jpg");
}

.form {
  opacity: 0;
  pointer-events: none;
  transition: all 2s;
  display: none;
}
.form__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  align-items: center;
  gap: 3rem;
}
.form__subtitle {
  color: white;
}
.form__title {
  color: white;
  font-size: clamp(1.5rem, 3.3vw, 3.3rem);
}
.form__data {
  display: flex;
  gap: 6rem;
}
.form__data input {
  padding: 1rem 3rem;
  border: none;
  border-radius: 1.5rem;
  background-color: grey;
  font-size: clamp(0.8rem, 1.4vw, 1.5rem);
  cursor: pointer;
}
.form__data input::placeholder {
  color: #000;
}
.form__data input:focus-visible {
  outline: none;
}
.form__data input::-ms-value {
  color: #000;
}

.activeform {
  display: block;
  opacity: 1;
  transition: all 1s;
  pointer-events: all;
  width: 85vw;
  z-index: 10000;
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 2rem 0 5rem;
  transform: translate(-50%, -50%);
  background-position: center center;
  background-size: cover;
  background-color: transparent;
  background-image: linear-gradient(rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.7803921569) 50%, #000), url("https://cdn.prod.website-files.com/6226481a3123521a0f08ac50/62290e5c139e14d97d44a2f0_about-hero-image-left-autocar-webflow-ecommerce-template.png");
}

.element-animation {
  opacity: 0;
}

.element-animation.element-show {
  opacity: 1;
  transition: all 1s;
}

.header__menu.active {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;
  top: 0;
  left: 0%;
  width: 50%;
  height: 100vh;
  background: black;
  transition: right 3s;
  z-index: 100000;
  padding-top: 60px;
  padding: 60px 20px 20px;
  opacity: 1;
  pointer-events: all;
}

@media (max-width: 1950px) {
  .locations__background {
    left: 20%;
  }
  .services__subtitle {
    right: 25%;
  }
}
@media (max-width: 1650px) {
  .whyus__background {
    right: 7%;
  }
  .about__background {
    right: 65%;
  }
}
@media (max-width: 1400px) {
  .whyus__content {
    flex-direction: column-reverse;
  }
  .mediacontent {
    flex-direction: column;
  }
}
@media (max-width: 1400px) {
  .about__background {
    top: -10%;
    right: 30%;
  }
}
@media (max-width: 1366px) {
  .services__slader-arrows {
    justify-content: center;
  }
}
@media (max-width: 1350px) {
  .whyus__background {
    top: -10%;
    right: 30%;
  }
}
@media (max-width: 1000px) {
  .header__info {
    padding: 1rem 0 10rem;
  }
}
@media (max-width: 850px) {
  .header__hamburger {
    display: block;
    background: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    order: 1;
  }
  .header__menu {
    opacity: 0;
    display: none;
    pointer-events: none;
  }
  .header__nav {
    justify-content: space-between;
  }
}
@media (max-width: 800px) {
  .form__data {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }
  .form__data input {
    padding: 1rem 1rem;
  }
}
@media (max-width: 768px) {
  .services__subtitle {
    right: 15%;
    top: 75%;
  }
}
@media (max-width: 750px) {
  .services__info {
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }
  .services__content {
    padding-top: 3rem;
  }
  .whyus {
    padding: 10rem 0;
  }
  .locations__container {
    width: -webkit-fill-available;
  }
  .services__button {
    margin-bottom: 5rem;
  }
  body {
    zoom: 100%;
  }
}
@media (max-width: 550px) {
  .whyus__background {
    right: 21%;
  }
  .whyus__button {
    padding: 1.5rem 3rem;
  }
  .whyus__info {
    align-items: center;
  }
  .services__button {
    padding: 1.5rem 3rem;
  }
}
@media (max-width: 450px) {
  .header__button {
    padding: 1.5rem 3rem;
  }
  .locations__container-address {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
  }
  .services__slader-slade-text {
    font-size: 0.8rem;
  }
  .activeform {
    padding: 2rem 0 0rem;
  }
  .form__content {
    gap: 1rem;
  }
}/*# sourceMappingURL=style.css.map */