*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Gothic A1", sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  color: white;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.header {
  background-image: linear-gradient(to right, #000, rgba(0, 0, 0, 0.1607843137)), url("../media/1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header__wrapper {
  max-width: 1320px;
  margin: auto;
  padding: 0 1.5rem;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0;
}
.header__logo {
  letter-spacing: 0.02em;
  text-transform: uppercase;
  padding: 0;
  font-size: clamp(1.3rem, 2.5vw, 2.3rem);
  font-style: italic;
  font-weight: 900;
  line-height: 1.125em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__logo span {
  letter-spacing: 0.02em;
  text-transform: uppercase;
  padding: 0;
  font-size: clamp(1.3rem, 2.5vw, 2.3rem);
  font-style: italic;
  font-weight: 900;
  line-height: 1.125em;
  color: red;
}
.header__logo img {
  width: 1.1rem;
}
.header__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  transition: all 3s;
}
.header__link {
  letter-spacing: 0.02em;
  text-transform: uppercase;
  padding: 0;
  font-size: clamp(1rem, 1.2vw, 1.2rem);
  font-style: italic;
  font-weight: 900;
  line-height: 1.125em;
  transition: all 0.3s;
}
.header__link:hover {
  color: red;
  transition: all 0.3s;
}
.header__hamburger {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  order: 1;
}
.header__info {
  padding: 10rem 0 25rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}
.header__suptitle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.header__suptitle hr {
  width: 10rem;
  animation: hey 3s infinite;
}
.header__suptitle-name {
  letter-spacing: 0.06em;
  font-size: clamp(1rem, 2vw, 2rem);
  text-transform: uppercase;
  font-style: italic;
  font-weight: 900;
  line-height: 1.111em;
  animation: hey 5s infinite;
}
@keyframes hey {
  from {
    color: white;
    border-color: white;
  }
  50% {
    color: red;
    border-color: red;
  }
  to {
    color: white;
    border-color: white;
  }
}
.header__title {
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-size: clamp(1.2rem, 2vw, 3rem);
  font-style: italic;
  font-weight: 900;
  line-height: 1.125em;
}
.header__subtitle {
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  font-weight: 400;
  line-height: 1.667em;
  max-width: 45rem;
  font-family: "Noto Sans JP", sans-serif;
}
.header__button {
  border: 2.5px solid #fff;
  background-color: transparent;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  transform-style: preserve-3d;
  justify-content: center;
  padding: 2rem 4rem;
  font-style: italic;
  font-weight: 900;
  line-height: 1.111em;
  text-decoration: none;
  cursor: pointer;
  transition: border-color 0.3s, background-color 0.3s, transform 0.3s, color 0.3s;
}
.header__button:hover {
  transform: translateY(-0.7rem);
}

.services {
  overflow-x: hidden;
  background-color: black;
  background-image: linear-gradient(to right, #000, rgba(0, 0, 0, 0.1607843137)), url("../media/3.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3rem 0;
}
.services__wrapper {
  margin: auto;
  position: relative;
  padding: 0 2rem;
  display: flex;
  gap: 2rem;
  max-width: 2300px;
}
.services__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.services__info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 7rem;
}
.services__info-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
}
.services__info-number {
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-size: 5rem;
  color: #000;
  font-style: italic;
  font-weight: 900;
  line-height: 1.125em;
}
.services__info-number span {
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-size: clamp(2rem, 5vw, 5rem);
  font-style: italic;
  font-weight: 900;
  line-height: 1.125em;
  color: red;
}
.services__info-comment {
  letter-spacing: 0.02em;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 900;
  line-height: 1.273em;
  color: #000;
}
.services__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  position: relative;
}
.services__suptitle hr {
  border-color: red;
}
.services__suptitle-name {
  color: red;
  z-index: 1;
}
.services__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.services__title {
  letter-spacing: 0.05em;
  font-size: clamp(1.2rem, 2vw, 3rem);
  font-style: italic;
  font-weight: 900;
  line-height: 1.204em;
  color: #fff;
  z-index: 1;
  max-width: 48rem;
  text-transform: uppercase;
}
.services__subtitle {
  letter-spacing: 0.05em;
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  font-weight: 900;
  line-height: 1.204em;
  color: #fff;
  z-index: 1;
  max-width: 48rem;
  text-align: start;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
}
.services__slader-arrows {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  padding-bottom: 2rem;
}
.services__slader-arrows-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.services__slader {
  overflow-x: hidden;
  position: absolute;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
  transition: all 2s;
  user-select: none;
  touch-action: pan-y;
}
.services__slader-slade {
  width: 400px;
  height: 500px;
  padding: 5rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
}
.services__slader-slade-1 {
  background-image: url("../media/g2.jpg");
}
.services__slader-slade-2 {
  background-image: url("../media/g1.jpg");
}
.services__slader-slade-3 {
  background-image: url("../media/g5.jpg");
}
.services__slader-slade-4 {
  background-image: url("../media/g3.jpg");
}
.services__slader-slade-5 {
  background-image: url("../media/g6.jpg");
}
.services__slader-slade-6 {
  background-image: url("../media/g4.jpg");
}
.services__slader-slade-7 {
  background-image: url("../media/g7.jpg");
}
.services__slader-slade-8 {
  background-image: url("../media/g8.jpg");
}
.services__slader-slade-9 {
  background-image: url("../media/g9.jpg");
}
.services__slader-slade-10 {
  background-image: url("../media/g10.jpg");
}
.services__slader-slade-11 {
  background-image: url("../media/g11.jpg");
}
.services__slader-slade-12 {
  background-image: url("../media/g12.jpg");
}
.services__slader-slade-13 {
  background-image: url("../media/g13.jpg");
}
.services__slader-slade-14 {
  background-image: url("../media/g14.jpg");
}
.services__slader-slade-title {
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 900;
  line-height: 1.429em;
}
.services__slader-slade-text {
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 1rem;
  font-style: italic;
  font-weight: 600;
  line-height: 1.429em;
}
.services__button {
  border: 2.5px solid #fff;
  width: 100%;
  background-color: transparent;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  transform-style: preserve-3d;
  justify-content: center;
  padding: 2rem 8rem;
  font-style: italic;
  font-weight: 900;
  line-height: 1.111em;
  text-decoration: none;
  cursor: pointer;
  transition: border-color 0.3s, background-color 0.3s, transform 0.3s, color 0.3s;
}
.services__button:hover {
  transform: translateY(-0.7rem);
}

.whyus {
  background-color: black;
  padding: 5rem 0;
}
.whyus__wrapper {
  max-width: 1320px;
  margin: auto;
  position: relative;
  padding: 0 1.5rem;
}
.whyus__content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.whyus__info {
  position: relative;
  height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
}
.whyus__background {
  position: absolute;
  opacity: 0.3;
  top: -17%;
  right: -10%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-size: clamp(2rem, 6vw, 5rem);
  font-style: italic;
  font-weight: 900;
  line-height: 1.125em;
  color: black;
  text-shadow: -1px -1px 0 #959494, 1px -1px 0 #959494, -1px 1px 0 #959494, 1px 1px 0 #959494;
}
.whyus__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.whyus__container hr {
  width: 10rem;
}
.whyus__infocontainer {
  display: flex;
  gap: 1rem;
}
.whyus__suptitle {
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: clamp(1.2rem, 1.7vw, 1.7rem);
  font-style: italic;
  font-weight: 900;
  line-height: 1.204em;
}
.whyus__infocontainer-icon {
  width: 4rem;
}
.whyus__title {
  letter-spacing: 0.05em;
  font-size: clamp(1.2rem, 2vw, 3rem);
  font-style: italic;
  font-weight: 900;
  line-height: 1.204em;
  color: #fff;
  z-index: 1;
  max-width: 48rem;
  text-transform: uppercase;
}
.whyus__subtitle {
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  font-weight: 400;
  line-height: 1.667em;
  max-width: 45rem;
  font-family: "Noto Sans JP", sans-serif;
}
.whyus__img {
  width: -webkit-fill-available;
  max-width: clamp(20rem, 40vw, 40rem);
  height: clamp(20rem, 40vw, 40rem);
  object-fit: cover;
}
.whyus__infocontainer-title {
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: clamp(1.2rem, 2vw, 3rem);
  font-style: italic;
  font-weight: 900;
  line-height: 1.204em;
}
.whyus__infocontainer-text {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.667em;
  max-width: 45rem;
  font-family: "Noto Sans JP", sans-serif;
}
.whyus__button {
  border: 2.5px solid #fff;
  background-color: transparent;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  transform-style: preserve-3d;
  justify-content: center;
  padding: 2rem 4rem;
  font-style: italic;
  font-weight: 900;
  line-height: 1.111em;
  text-decoration: none;
  cursor: pointer;
  transition: border-color 0.3s, background-color 0.3s, transform 0.3s, color 0.3s;
}
.whyus__button:hover {
  transform: translateY(-0.7rem);
}

.about {
  background-color: white;
}
.about__info {
  justify-content: center;
}
.about__background {
  right: 65%;
  top: -5%;
  color: white;
  font-size: clamp(2rem, 5vw, 7rem);
}
.about__container hr {
  border-color: red;
}
.about__suptitle {
  color: red;
}
.about__title {
  color: #000;
  font-size: clamp(1.2rem, 2vw, 3rem);
}
.about__subtitle {
  color: #959494;
}
.about__button {
  border: 2.5px solid #000;
  background-color: transparent;
  text-align: center;
  color: #000;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  transform-style: preserve-3d;
  justify-content: center;
  padding: 2rem 4rem;
  font-style: italic;
  font-weight: 900;
  line-height: 1.111em;
  text-decoration: none;
  cursor: pointer;
  transition: border-color 0.3s, background-color 0.3s, transform 0.3s, color 0.3s;
}

.visitus {
  padding: 10rem 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1607843137), rgba(0, 0, 0, 0.7607843137) 56%, rgba(0, 0, 0, 0.8588235294)), url("../media/3.jpg");
}
.visitus__title {
  color: white;
}
.visitus__button {
  border: 2.5px solid #fff;
  background-color: transparent;
  text-align: center;
  color: #fff;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  transform-style: preserve-3d;
  justify-content: center;
  padding: 2rem 4rem;
  font-style: italic;
  font-weight: 900;
  line-height: 1.111em;
  text-decoration: none;
  cursor: pointer;
  transition: border-color 0.3s, background-color 0.3s, transform 0.3s, color 0.3s;
}

.locations {
  padding: 3rem 0;
}
.locations__content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.locations__background {
  letter-spacing: 0.04em;
  position: absolute;
  top: -12%;
  left: 50%;
  text-transform: uppercase;
  font-size: clamp(2rem, 9vw, 9rem);
  font-style: italic;
  font-weight: 900;
  line-height: 1.125em;
  color: white;
  text-shadow: -1px -1px 0 #959494, 1px -1px 0 #959494, -1px 1px 0 #959494, 1px 1px 0 #959494;
}
.locations__suptitle {
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: clamp(1.2rem, 1.7vw, 1.7rem);
  font-style: italic;
  font-weight: 900;
  line-height: 1.204em;
  color: red;
  z-index: 1;
}
.locations__title {
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: clamp(1.2rem, 2vw, 3rem);
  font-style: italic;
  font-weight: 900;
  line-height: 1.204em;
  color: #000;
}
.locations__subtitle {
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  font-weight: 400;
  line-height: 1.667em;
  max-width: 45rem;
  color: #959494;
}
.locations__container {
  width: 100%;
  position: relative;
}
.locations__info {
  width: 50%;
  position: absolute;
  top: 100%;
  right: 0%;
  transform: translate(-50%, -50%);
  height: 200px;
  padding: 2rem;
  background-color: #000;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.locations__info-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.locations__info-content p {
  letter-spacing: 0.02em;
  text-transform: uppercase;
  padding: 0;
  font-size: clamp(1rem, 1vw, 1.2rem);
  font-style: italic;
  font-weight: 900;
  line-height: 1.125em;
  transition: all 0.3s;
}
.locations__info-content h4 {
  letter-spacing: 0.02em;
  text-transform: uppercase;
  padding: 0;
  font-size: clamp(1.2rem, 2vw, 2rem);
  font-weight: 900;
  line-height: 1.125em;
  transition: all 0.3s;
}
.locations__info-content-3 p {
  letter-spacing: 0.02em;
  text-transform: uppercase;
  padding: 0;
  font-size: clamp(1rem, 1vw, 1.2rem);
  font-style: italic;
  font-weight: 900;
  line-height: 1.125em;
  transition: all 0.3s;
}
.locations__info-content-3 a {
  letter-spacing: 0.02em;
  text-transform: uppercase;
  padding: 0;
  font-size: clamp(1rem, 1vw, 1.2rem);
  font-style: italic;
  font-weight: 900;
  line-height: 1.125em;
  transition: all 0.3s;
}
.locations__info-content-2 {
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.locations__info-content-2 img {
  border-radius: 50%;
  box-shadow: 0 0 20px 6px #fff;
}
.locations__info-content-3 {
  justify-content: center;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 1rem;
}
.locations__container-title {
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: clamp(1.2rem, 2vw, 2rem);
  font-style: italic;
  font-weight: 900;
  line-height: 1.429em;
}
.locations__container-subtitle {
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: clamp(0.8rem, 1.2vw, 1.22rem);
  font-style: italic;
  font-weight: 900;
  line-height: 1.429em;
  color: #959494;
}
.locations__container-address {
  width: inherit;
  display: flex;
  justify-content: space-around;
}
.locations__container-address a {
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  font-weight: 900;
  line-height: 1.429em;
  transition: all 0.3s;
}
.locations__container-address a:hover {
  color: red;
  transition: all 0.3s;
  transform: translateY(-0.3rem);
}

.visitus2 {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 20% 100%, 0% 100%, 0 100%);
  background-image: linear-gradient(to right, #000, rgba(0, 0, 0, 0.1607843137)), url("https://cdn.prod.website-files.com/6226481a3123521a0f08ac50/6228e37a05254c53475c1ae2_cta-bg-image-2-autocar-webflow-ecommerce-template.jpg");
}

.footer {
  background-color: #000;
  padding: 4rem 0;
}
.footer__wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.footer__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__item a {
  letter-spacing: 0.02em;
  text-transform: uppercase;
  padding: 0;
  font-size: clamp(1rem, 1.2vw, 1.2rem);
  font-style: italic;
  font-weight: 900;
  line-height: 1.125em;
  transition: all 0.3s;
}
.footer__item a:hover {
  color: red;
  transition: all 0.3s;
}
.footer__content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer__logo {
  letter-spacing: 0.02em;
  text-transform: uppercase;
  padding: 0;
  font-size: clamp(1.3rem, 2.5vw, 2.3rem);
  font-style: italic;
  font-weight: 900;
  line-height: 1.125em;
}
.footer__messangers {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.footer__link {
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: clamp(0.8rem, 1.2vw, 1.22rem);
  font-style: italic;
  font-weight: 900;
  line-height: 1.429em;
  color: #fff;
}

.great {
  opacity: 0;
  pointer-events: none;
  display: none;
}
.great__title {
  color: green;
  font-size: clamp(1rem, 1.5vw, 1.7rem);
}
.great__subtitle {
  color: white;
  font-size: clamp(0.8rem, 1.2vw, 1.5rem);
}
.great__cross {
  position: absolute;
  top: 5%;
  right: 5%;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.great__cross img {
  width: 30px;
}

.activegreat {
  opacity: 1;
  pointer-events: all;
  z-index: 10000;
  background-color: black;
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 4rem 2rem;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
}

.form {
  opacity: 0;
  pointer-events: none;
  transition: all 2s;
  display: none;
}
.form__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  align-items: center;
  gap: 3rem;
  position: relative;
}
.form__cross {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.form__subtitle {
  color: white;
}
.form__title {
  color: white;
  font-size: clamp(1.5rem, 3.3vw, 3.3rem);
}
.form__data {
  display: flex;
  gap: 6rem;
}
.form__data input {
  padding: 1rem 3rem;
  border: none;
  border-radius: 1.5rem;
  background-color: grey;
  font-size: clamp(0.8rem, 1.4vw, 1.5rem);
  cursor: pointer;
}
.form__data button {
  display: flex;
  align-items: center;
  padding: 1rem 3rem;
  border: 2px solid white;
  font-size: clamp(0.8rem, 1.4vw, 1.5rem);
  cursor: pointer;
  background-color: transparent;
  letter-spacing: 0.06em;
  justify-content: center;
  font-style: italic;
  transition: all 1s;
  cursor: pointer;
}
.form__data button:hover {
  transition: all 1s;
  background-color: green;
  border: 2px solid green;
}
.form__data input::placeholder {
  color: #000;
}
.form__data input:focus-visible {
  outline: none;
}
.form__data input::-ms-value {
  color: #000;
}

.activeform {
  display: block;
  opacity: 1;
  width: auto;
  transition: all 1s;
  pointer-events: all;
  z-index: 10000;
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 2rem 0 5rem;
  transform: translate(-50%, -50%);
  background-position: center center;
  background-size: cover;
  background-color: transparent;
  background-image: linear-gradient(rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.7803921569) 50%, #000), url("../media/3.jpg");
}

.slider-servises {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.slider {
  --value: 50%;
  position: relative;
  width: 100%;
  max-width: 430px;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #000000;
  aspect-ratio: 1/1;
}

.slider__img {
  position: absolute;
  top: 0;
  max-width: none;
  height: 100%;
  object-fit: cover;
}

.slider__img--before {
  left: 0;
  width: var(--value);
  border-right: 15px solid #000000;
  object-position: left;
}

.slider__img--after {
  right: 0;
  width: calc(100% - var(--value));
  border-left: 2px solid #000000;
  object-position: right;
}

.slider__range-js::-moz-range-thumb {
  width: 50px;
  height: 50px;
  background-color: currentColor;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 50%;
  transform: translateX(calc(var(--value) - 50%));
  appearance: none;
}

.slider__range-js::-webkit-slider-thumb {
  width: 50px;
  height: 380px;
  opacity: 0.00001;
  background-color: currentColor;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transform: translateX(calc(var(--value) - 50%));
  -webkit-appearance: none;
  appearance: none;
}

.slider__range-js {
  position: absolute;
  margin: 0;
  background-color: transparent;
  outline: 0;
  cursor: col-resize;
  -webkit-appearance: none;
  appearance: none;
  inset: 0;
}

.slider__range-js:hover {
  color: #4f4f4f;
}

.slider__range-js:active {
  color: #888888;
}

.slider__range-js:focus-visible::-moz-range-thumb {
  outline: auto;
}

.slider__range-js:focus-visible::-webkit-slider-thumb {
  outline: auto;
}

.element-animation {
  opacity: 0;
}

.element-animation.element-show {
  opacity: 1;
  transition: all 1s;
}

.header__menu.active {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;
  top: 0;
  left: 0%;
  width: 50%;
  height: 100vh;
  background: black;
  transition: right 3s;
  z-index: 100000;
  padding-top: 60px;
  padding: 60px 20px 20px;
  opacity: 1;
  pointer-events: all;
}

@media (max-width: 1950px) {
  .locations__background {
    left: 20%;
  }
}
@media (max-width: 1650px) {
  .whyus__background {
    right: 7%;
  }
  .about__background {
    right: 65%;
  }
}
@media (max-width: 1500px) {
  .locations__info {
    width: 100%;
    top: 76%;
    transform: translate(0, 0);
  }
}
@media (max-width: 1400px) {
  .whyus__content {
    flex-direction: column-reverse;
  }
  .mediacontent {
    flex-direction: column;
  }
}
@media (max-width: 1400px) {
  .about__background {
    top: -10%;
    right: 30%;
  }
}
@media (max-width: 1366px) {
  .services__slader-arrows {
    justify-content: center;
  }
}
@media (max-width: 1350px) {
  .whyus__background {
    top: -10%;
    right: 30%;
  }
}
@media (max-width: 1420px) {
  .services__wrapper {
    flex-direction: column;
  }
  .services__container {
    gap: 2rem;
  }
  .services__button {
    width: 100%;
  }
  .services__subtitle {
    text-align: start;
  }
  .slider-servises {
    justify-content: center;
  }
}
@media (max-width: 1000px) {
  .header__info {
    padding: 1rem 0 10rem;
  }
  .services {
    background-image: none;
    background-color: #000;
  }
}
@media (max-width: 1300px) {
  .form__data {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }
  .activeform {
    width: 90%;
  }
  .form__data input {
    padding: 1rem 1rem;
  }
}
@media (max-width: 850px) {
  .header__hamburger {
    display: block;
    background: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    order: 1;
  }
  .header__menu {
    opacity: 0;
    display: none;
    pointer-events: none;
  }
  .header__nav {
    justify-content: space-between;
  }
}
@media (max-width: 768px) {
  .services__subtitle {
    right: 15%;
    top: 90%;
  }
}
@media (max-width: 750px) {
  .services__info {
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }
  .services__content {
    padding-top: 3rem;
  }
  .whyus {
    padding: 5rem 0;
  }
  .locations__container {
    width: -webkit-fill-available;
  }
  .services__button {
    margin-bottom: 5rem;
  }
  body {
    zoom: 100%;
  }
  .locations__info {
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
  }
}
@media (max-width: 550px) {
  .whyus__background {
    right: 21%;
  }
  .whyus__button {
    padding: 1.5rem 3rem;
  }
  .whyus__info {
    align-items: center;
  }
  .services__button {
    padding: 1.5rem 3rem;
  }
  .form__cross img {
    width: 30px;
  }
}
@media (max-width: 450px) {
  .header__button {
    padding: 1.5rem 3rem;
  }
  .locations__container-address {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
  }
  .services__slader-slade-text {
    font-size: 0.8rem;
  }
  .activeform {
    padding: 2rem 0 0rem;
  }
  .form__content {
    gap: 1rem;
  }
  .footer__menu {
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
  }
  .footer__content {
    flex-direction: column;
    gap: 1rem;
  }
  .footer__wrapper {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .footer__link img {
    width: 2.5rem;
  }
  .great img {
    width: 4.5rem;
  }
  .great__cross img {
    width: 25px;
  }
}/*# sourceMappingURL=style.css.map */